body{
  padding: 0px;
  margin: 0px;
}
.row .container-fluid{
  padding: 0px;
  margin: 0px;
}
.fixed-top{
  border-bottom: 1px solid #9900cc;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

html {
  scroll-behavior: smooth;
}

.top-nav{
  background-color: #000;
  color: #fff;
}
.btn-techno{
  color: #9900cc;
  border: 1px solid #9900cc;
}

.btn-techno:hover{
  background-color: #9900cc;
  border: 1px solid #9900cc;
  color: #fff;
}
.btn-techno:active{
  background-color: #9900cc!important;
  border: 1px solid #9900cc!important;
  color: #fff;
}
.btn-techno:focus{
  box-shadow: 0 0 0 0.2rem rgba(153,0,204,.5)!important;
}
.a-btn{
  color: #9900cc!important;
}

.slider{
  width: 100%;
  height: 100vh;
}

.nav-section{
  background-color: #fff;
}

.top-nav p {
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-link{
  font-size: 20px;
  color: #000;
}
.img-center{
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.front-page{
  padding-top: 160px;
}
.big-heading{
  font-size: 3.2rem;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.sub-heading{
  font-size: 1.8rem;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Josefin{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  /* word-spacing: 3px; */
  line-height: 1.8em;
}
h1{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.text-red{
  color: #9900cc;
}
.owl-main{
  padding-top: 50px;
  padding-bottom: 30px;
}

.owl-main .item{
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

/* hover effect */

.col-service{
  padding-left: 0px;
  padding-right: 0px;
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.img-responsive{
  width: 100%;
}
.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
right:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

/* .hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
} */

/* .hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
} */

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
                       /* services  */


.owl-prev {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 50px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,2); color: #9900cc;}

.slider{
  padding-top: 50px;
  padding-bottom: 30px;
}

.services{
  padding-top: 70px;
  padding-bottom: 30px;
}

.promice{
  padding-top: 50px;
  padding-bottom: 30px;
}
.justify{
  text-align: justify;
}
.promice ul {
  list-style: none;
}

.promice ul li:before {
  content: '✓ ';
  color: #9900cc;
}

.promice ul li{
  padding-bottom: 10px;
}

.portfolio{
  padding-top: 30px;
  padding-bottom: 30px;
}
.port-btn{
  padding-top: 30px;
  padding-bottom: 40px;
}
.testo{
  padding-top: 50px;
  padding-bottom: 30px;
  background-image: url("../images/background.jpeg");
}
.div-testo{
  width: 350px;
  height: 160px;
  background-color: #9900cc;
  color: #fff;
}
.testo-text{
  padding: 20px;
  font-size: 17px;
  font-style: italic;
}

.why{
  padding-top: 50px;
  padding-bottom: 30px;
}

.why h4{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.why p{
  text-align: justify;

}
.section-text{
  padding-top: 15px;

}
.team{
  margin: 10px;
  padding: 20px;
  border: 1px solid #9900cc;
}
.client{
  padding-top: 50px;
  padding-bottom: 30px;
}
footer{
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;
}

footer a{
  color: #fff;
}
footer a:hover{
  color: #fff;
}
.bottom{
  padding-top: 15px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #9900cc; /* Set a background color */
  border-radius: 100px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
